<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CompuTec.AppEngine.Adapter" version="1.1.5.14" targetFramework="net47" />
  <package id="CompuTec.AppEngine.Base.Infrastructure" version="2.0.1.4" targetFramework="net47" />
  <package id="CompuTec.AppEngine.DataAnnotations" version="2.0.1.4" targetFramework="net47" />
  <package id="CompuTec.AppEngine.EventBus" version="2.0.1.4" targetFramework="net47" />
  <package id="CompuTec.AppEngine.PluginCodeGenerator" version="2.0.1.4" targetFramework="net47" />
  <package id="CompuTec.BaseLayer" version="2.10.0.79" targetFramework="net47" />
  <package id="CompuTec.Core" version="2.10.11.20" targetFramework="net47" />
  <package id="CompuTec.Core2" version="2.10.0.79" targetFramework="net47" />
  <package id="CompuTec.LabelPrinting" version="1.0.0" targetFramework="net47" />
  <package id="CompuTec.License" version="5.7.1.8" targetFramework="net47" />
  <package id="CompuTec.ProcessForce.API" version="2.10.11.20" targetFramework="net47" />
  <package id="CompuTec.ProcessForce.Scheduling" version="2.10.11.20" targetFramework="net47" />
  <package id="CompuTec.SAP" version="2.10.0.79" targetFramework="net47" />
  <package id="Microsoft.AspNet.OData" version="6.1.0" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net47" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net47" />
  <package id="Microsoft.OData.Core" version="7.2.0" targetFramework="net47" />
  <package id="Microsoft.OData.Edm" version="7.2.0" targetFramework="net47" />
  <package id="Microsoft.Spatial" version="7.2.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net47" />
  <package id="NLog" version="4.5.11" targetFramework="net47" />
  <package id="PostSharp" version="6.3.9" targetFramework="net47" />
  <package id="PostSharp.Patterns.Common" version="6.3.9" targetFramework="net47" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.3.9" targetFramework="net47" />
  <package id="PostSharp.Patterns.Diagnostics" version="6.3.9" targetFramework="net47" />
  <package id="PostSharp.Patterns.Diagnostics.Redist" version="6.3.9" targetFramework="net47" />
  <package id="PostSharp.Redist" version="6.3.9" targetFramework="net47" />
  <package id="SAP.DI" version="2.10.0.4" targetFramework="net47" />
  <package id="StructureMap" version="4.7.0" targetFramework="net47" />
  <package id="System.Collections" version="4.0.11" targetFramework="net47" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net47" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net47" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net47" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net47" />
  <package id="System.Linq" version="4.1.0" targetFramework="net47" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net47" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net47" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net47" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net47" />
  <package id="System.Threading" version="4.0.11" targetFramework="net47" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net47" />
</packages>